.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.title {
 color: var(--green);
 font-size: 64px;
}

.number {
    color: var(--blue);
    font-size: 52px;
}

.home{
    color: var(--red);
    font-size: 36px;
}